# The following lines were added by compinstall

zstyle ':completion:*' completer _expand _complete _ignored _correct _approximate
zstyle ':completion:*' max-errors 1
zstyle :compinstall filename "$HOME/.zshrc"

autoload -Uz compinit
compinit

# End of lines added by compinstall
# Lines configured by zsh-newuser-install
setopt autocd notify
# End of lines configured by zsh-newuser-install

if [[ $EUID -eq 0 ]]; then
  # root
  PROMPT='%F{red}%n%f@%F{blue}%m%f %F{yellow}%1~%f %# '
else
  # not root
  PROMPT='%F{green}%n%f@%F{blue}%m%f %F{yellow}%1~%f %# '
fi

RPROMPT='[%F{yellow}%?%f]'

# History

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy-mm-dd"

HISTSIZE=10000
SAVEHIST=10000
export HISTFILE="$HOME/.history"

export EDITOR=vim

bindkey "^R" history-incremental-search-backward
# For xterm/konsole
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
# For urxvt
bindkey "^[Od" backward-word
bindkey "^[Oc" forward-word
bindkey '^[[33~' backward-kill-word

bindkey "${terminfo[khome]}" beginning-of-line
bindkey "${terminfo[kend]}" end-of-line
bindkey  "${terminfo[kpp]}"    history-beginning-search-backward
bindkey  "${terminfo[knp]}"  history-beginning-search-forward


alias ls='ls --color'
alias ll='ls -al --color'
alias la='ls -a --color'
alias lah='ls -lah --color'
alias l='ls -lh --color'
