# {{ ansible_managed }} (role: ssh_config)
#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

# Supported HostKey algorithms by order of preference.
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

# Ciphers and keying
#RekeyLimit default none

# Logging
#SyslogFacility AUTH
LogLevel VERBOSE # to log user's key fingerprint on login

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

#LoginGraceTime 2m
#PermitRootLogin prohibit-password
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

PubkeyAuthentication yes
AuthenticationMethods publickey

# Log sftp level file access (read/write/etc.) that would not be easily logged
# otherwise.
{% if ansible_os_family == 'Debian' %}
Subsystem sftp  /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO
{% elif ansible_os_family == 'RedHat' %}
Subsystem sftp  /usr/libexec/openssh/sftp-server -f AUTH -l INFO
{% endif %}


{% if not 'root' in ssh_config_additional_users %}
# Root login is not allowed for auditing reasons. This is because it's
# difficult to track which process belongs to which root user:
#
# On Linux, user sessions are tracking using a kernel-side session id, however,
# this session id is not recorded by OpenSSH.  Additionally, only tools such as
# systemd and auditd record the process session id.  On other OSes, the user
# session id is not necessarily recorded at all kernel-side.  Using regular
# users in combination with /bin/su or /usr/bin/sudo ensure a clear audit
# track.

PermitRootLogin no
{% else %}
PermitRootLogin without-password
{% endif %}
StrictModes yes
{% if ansible_os_family == 'Debian' %}
DebianBanner yes
{% endif %}

# only allow incoming connections from expected users
AllowGroups ssh-user

# Allow pam for auth, otherwise password-less users won't work correctly
UsePAM yes

## Environment
PermitUserEnvironment no
AcceptEnv LANG LC_*

## Messages on login
PrintMotd no
PrintLastLog yes

## Allow port and agent forwarding
AllowAgentForwarding yes
AllowTcpForwarding yes
PermitOpen any

## Enable keepalive and configure connection properties
TCPKeepAlive yes
ClientAliveInterval 600
ClientAliveCountMax 3
Compression delayed

## X11
X11Forwarding {{ ssh_config_allow_x11 }}

UseDNS {{ ssh_config_use_dns }}

## Completely disable unused auth methods
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
HostbasedAuthentication no
{% if ssh_config_sshd_additional_lines != "" %}

# Additional config for {{ inventory_hostname }}:
{{ ssh_config_sshd_additional_lines }}
{% endif %}
