#
# reserved values
#
255     local
254     main
253     default
0       unspec
#
# local
#
#1      inr.ruhep
{% for key, value in hostvars[inventory_hostname]['netconf']['rt'].items() %}
{{ value }}	{{ key }}
{% endfor %}
