# {{ ansible_managed }}

# Common definitions
127.0.0.1 localhost
::1       localhost ip6-localhost ip6-loopback
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

{{ hostvars[inventory_hostname]["ansible_default_ipv4"]["address"] }} {{ inventory_hostname }}
